#include "key-labels/corne-choc-bt-pro.h"
#include "base.keymap"

/ {
    chosen {
      zmk,physical-layout = &five_col_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "BASE";
            bindings = <
//    ┌─────────────┬─────────────┬─────────────┬─────────────────────────┬──────────┬──────────┐       ┌───────────┬──────────┬───────────────────────────────┬─────────────┬─────────────┬──────────────┐
//    │      Q      │      W      │      E      │            R            │    T     │          │       │           │    Y     │               U               │      I      │      O      │      P       │
//    ├─────────────┼─────────────┼─────────────┼─────────────────────────┼──────────┼──────────┤       ├───────────┼──────────┼───────────────────────────────┼─────────────┼─────────────┼──────────────┤
//    │ &hml lctl A │ &hml lalt S │ &hml lgui D │       &hml lsft F       │    G     │          │       │           │    H     │          &hmr rsft J          │ &hmr rgui K │ &hmr ralt L │ &hmr lctl '  │
//    ├─────────────┼─────────────┼─────────────┼─────────────────────────┼──────────┼──────────┘       └───────────┼──────────┼───────────────────────────────┼─────────────┼─────────────┼──────────────┤
//    │      Z      │      X      │      C      │            V            │    B     │                              │    N     │               M               │ &comma_semi │ &dot_colon  │ &qmark_emark │
//    └─────────────┴─────────────┴─────────────┼─────────────────────────┼──────────┼──────────┐       ┌───────────┼──────────┼───────────────────────────────┼─────────────┴─────────────┴──────────────┘
//                                              │ mt lsft(lctl(lalt)) esc │ lt 3 tab │ lt 2 spc │       │ lt 1 bspc │ lt 3 ent │ mt lsft(lalt(lctl(lgui))) del │
//                                              └─────────────────────────┴──────────┴──────────┘       └───────────┴──────────┴───────────────────────────────┘
  &kp Q          &kp W         &kp E         &kp R                  &kp T       &none                 &none        &kp Y       &kp U                      &kp I         &kp O         &kp P
  &hml LCTRL A   &hml LALT S   &hml LCMD D   &hml LSHFT F           &kp G       &none                 &none        &kp H       &hmr RSHFT J               &hmr RCMD K   &hmr RALT L   &hmr LCTRL SINGLE_QUOTE
  &kp Z          &kp X         &kp C         &kp V                  &kp B                                          &kp N       &kp M                      &comma_semi   &dot_colon    &qmark_emark
                                             &mt LS(LC(LALT)) ESC   &lt 3 TAB   &lt 2 SPACE           &lt 1 BSPC   &lt 3 RET   &mt LS(LA(LC(LCMD))) DEL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        nums_layer {
            display-name = "NUMS";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐       ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │  1  │  2  │  3  │  4  │  5  │     │       │     │  6  │  7  │  8  │  9  │  0  │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤       ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │       │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┘       └─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │                   │     │     │     │     │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┐       ┌─────┼─────┼─────┼─────┴─────┴─────┘
//                      │     │     │     │       │     │     │     │
//                      └─────┴─────┴─────┘       └─────┴─────┴─────┘
  &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &trans           &trans   &kp N6   &kp N7   &kp N8   &kp N9   &kp N0
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans                             &trans   &trans   &trans   &trans   &trans
                             &trans   &trans   &trans           &trans   &trans   &trans
            >;
        };

        nav_layer {
            display-name = "NAV";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐       ┌─────┬──────┬──────┬─────┬──────┬─────┐
//    │     │     │     │     │     │     │       │     │      │      │     │      │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤       ├─────┼──────┼──────┼─────┼──────┼─────┤
//    │     │     │     │     │     │     │       │     │ left │ down │ up  │ rght │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┘       └─────┼──────┼──────┼─────┼──────┼─────┤
//    │     │     │     │     │     │                   │      │      │     │      │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┐       ┌─────┼──────┼──────┼─────┴──────┴─────┘
//                      │     │     │     │       │     │      │      │
//                      └─────┴─────┴─────┘       └─────┴──────┴──────┘
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &trans     &trans     &trans   &trans      &trans
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT   &trans
  &trans   &trans   &trans   &trans   &trans                             &trans     &trans     &trans   &trans      &trans
                             &trans   &trans   &trans           &trans   &trans     &trans
            >;
        };

        utils_layer {
            display-name = "UTILS";

            // --------------------------------------------------------------------------------
            // |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  |
            // | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |
            // | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
//    ┌──────────┬──────────┬────────────┬──────────┬────────────────┬─────┐       ┌─────┬──────┬──────┬──────┬──────┬──────┐
//    │   bri-   │   bri+   │    prev    │   play   │      next      │     │       │     │      │      │ mute │ vold │ volu │
//    ├──────────┼──────────┼────────────┼──────────┼────────────────┼─────┤       ├─────┼──────┼──────┼──────┼──────┼──────┤
//    │ bt_sel 0 │ bt_sel 1 │  bt_sel 2  │ bt_sel 3 │    bt_sel 4    │     │       │     │ left │ down │  up  │ rght │      │
//    ├──────────┼──────────┼────────────┼──────────┼────────────────┼─────┘       └─────┼──────┼──────┼──────┼──────┼──────┤
//    │  bt_clr  │ ug_ tog  │ &sys_reset │   boot   │ &studio_unlock │                   │      │ boot │      │      │      │
//    └──────────┴──────────┴────────────┼──────────┼────────────────┼─────┐       ┌─────┼──────┼──────┼──────┴──────┴──────┘
//                                       │          │                │     │       │     │      │      │
//                                       └──────────┴────────────────┴─────┘       └─────┴──────┴──────┘
  &kp C_BRI_DEC   &kp C_BRI_INC     &kp C_PREV     &kp C_PLAY_PAUSE   &kp C_NEXT       &none            &none    &trans     &trans        &kp C_MUTE   &kp C_VOL_DN   &kp C_VOL_UP
  &bt BT_SEL 0    &bt BT_SEL 1      &bt BT_SEL 2   &bt BT_SEL 3       &bt BT_SEL 4     &none            &none    &kp LEFT   &kp DOWN      &kp UP       &kp RIGHT      &trans
  &bt BT_CLR      &rgb_ug RGB_TOG   &sys_reset     &bootloader        &studio_unlock                             &trans     &bootloader   &trans       &trans         &trans
                                                   &trans             &trans           &trans           &trans   &trans     &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------
            // |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  |
            // |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |
            // |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
//    ┌─────┬─────┬─────┬──────┬─────┬──────┐       ┌──────┬─────┬──────┬───┬───┬───┐
//    │  !  │  @  │  #  │  $   │  %  │ lctl │       │ rctl │  ^  │  &   │ * │ ( │ ) │
//    ├─────┼─────┼─────┼──────┼─────┼──────┤       ├──────┼─────┼──────┼───┼───┼───┤
//    │     │     │     │      │     │ lalt │       │ ralt │  -  │  =   │ [ │ ] │ \ │
//    ├─────┼─────┼─────┼──────┼─────┼──────┘       └──────┼─────┼──────┼───┼───┼───┤
//    │     │     │     │      │     │                     │  _  │  +   │ { │ } │ | │
//    └─────┴─────┴─────┼──────┼─────┼──────┐       ┌──────┼─────┼──────┼───┴───┴───┘
//                      │ lgui │     │ spc  │       │ ent  │     │ ralt │
//                      └──────┴─────┴──────┘       └──────┴─────┴──────┘
  &kp EXCL   &kp AT   &kp HASH   &kp DLLR   &kp PRCNT   &kp LCTRL           &kp RCTRL   &kp CARET   &kp AMPS    &kp ASTRK   &kp LPAR   &kp RPAR
  &trans     &trans   &trans     &trans     &trans      &kp LALT            &kp RALT    &kp MINUS   &kp EQUAL   &kp LBKT    &kp RBKT   &kp BSLH
  &trans     &trans   &trans     &trans     &trans                                      &kp UNDER   &kp PLUS    &kp LBRC    &kp RBRC   &kp PIPE
                                 &kp LGUI   &trans      &kp SPACE           &kp RET     &trans      &kp RALT
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐       ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │     │     │     │     │     │     │       │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤       ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │       │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┘       └─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │                   │     │     │     │     │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┐       ┌─────┼─────┼─────┼─────┴─────┴─────┘
//                      │     │     │     │       │     │     │     │
//                      └─────┴─────┴─────┘       └─────┴─────┴─────┘
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans                             &trans   &trans   &trans   &trans   &trans
                             &trans   &trans   &trans           &trans   &trans   &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐       ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │     │     │     │     │     │     │       │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤       ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │       │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┘       └─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │                   │     │     │     │     │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┐       ┌─────┼─────┼─────┼─────┴─────┴─────┘
//                      │     │     │     │       │     │     │     │
//                      └─────┴─────┴─────┘       └─────┴─────┴─────┘
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans                             &trans   &trans   &trans   &trans   &trans
                             &trans   &trans   &trans           &trans   &trans   &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐       ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │     │     │     │     │     │     │       │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤       ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │       │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┘       └─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │                   │     │     │     │     │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┐       ┌─────┼─────┼─────┼─────┴─────┴─────┘
//                      │     │     │     │       │     │     │     │
//                      └─────┴─────┴─────┘       └─────┴─────┴─────┘
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans                             &trans   &trans   &trans   &trans   &trans
                             &trans   &trans   &trans           &trans   &trans   &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
//    ┌─────┬─────┬─────┬─────┬─────┬─────┐       ┌─────┬─────┬─────┬─────┬─────┬─────┐
//    │     │     │     │     │     │     │       │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┤       ├─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │     │       │     │     │     │     │     │     │
//    ├─────┼─────┼─────┼─────┼─────┼─────┘       └─────┼─────┼─────┼─────┼─────┼─────┤
//    │     │     │     │     │     │                   │     │     │     │     │     │
//    └─────┴─────┴─────┼─────┼─────┼─────┐       ┌─────┼─────┼─────┼─────┴─────┴─────┘
//                      │     │     │     │       │     │     │     │
//                      └─────┴─────┴─────┘       └─────┴─────┴─────┘
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans                             &trans   &trans   &trans   &trans   &trans
                             &trans   &trans   &trans           &trans   &trans   &trans
            >;
        };
    };
};
